.locationContact {
	align-items: center;
	display: flex;
	gap: 16px;
}

.locationRow {
	align-items: flex-start;
	display: flex;
	gap: 16px;
}

.icon {
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 55%;
	border-radius: var(--border-radius-full);
	display: inline-flex;
	justify-content: center;
}

.text {
	color: var(--color-text-white);
	font-size: 15px;
	line-height: 1.35;
}

@media (max-width: 780px) {
	.locationContact {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.icon {
		height: 36px;
		width: 36px;
	}
}
